body {
    --fontColor: #0f0f14;
    --background: #d5d6db;
    --backgroundSecond: #ccced4;
    --taskBackground: #adb0ba;
    --accentColor:#5a4a78;
  }
  body.dark-theme {
    --fontColor: #eee;
    --background: #1a1b26;
    --backgroundSecond: #24283b;
    --taskBackground: #3a3f5a;
    --accentColor: #bb9af7;
  }
  
  @media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
      --fontColor: #eee;
      --background: #1a1b26;
      --backgroundSecond: #24283b;
      --taskBackground: #3a3f5a;
      --accentColor: #bb9af7;
    }
    body.light-theme {
      --fontColor: #0f0f14;
      --background: #d5d6db;
      --backgroundSecond: #ccced4;
      --taskBackground: #adb0ba;
      --accentColor:#5a4a78;
    }
  }
  
  * {
    font-family: 'Ubuntu Mono', monospace;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    color: var(--fontColor);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* transition: .2s ease-out; */
  }
  
  h1,
  p {
    color: var(--fontColor);
  }


main{
    border: 1px solid var(--fontColor);
    border-radius: 10px;
    width: 60%;
    height: 75vh;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 10% 90%;
}
header{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header h1{
    width: 80%;
}
section#tasksDiv{
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: var(--backgroundSecond);
    color: var(--fontColor);
    width: 95%;
    height: 95%;
    overflow-y: scroll;
}

section#tasksDiv .task{
  margin: 10px auto;
  width: 100%;
  min-height: 30px;
  max-height: 60px;
  padding: 5px 0;
  border-radius: 5px;
  background-color: var(--taskBackground);
  display: flex;
  align-items: center;
}
.task .txt{
  width: 90%;
  word-wrap: break-word;
}
.task input{
  margin-right: 10px;
}
div#createNew{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--fontColor);
    border: 1px solid var(--fontColor);
    padding: 5px 0px;
    border-radius: 5px;
    transition: .2s ease;
}
div#createNew:hover{
    background-color: var(--accentColor);
    color: var(--background);
    cursor: pointer;
}

section#createNewDiv{
    visibility: hidden;
    position: absolute;
    background-color: var(--background);
    width: 50%;
    height: 20%;
    border: 1px solid var(--fontColor);
    border-radius: 15px;
    padding: 10px;
    display: grid;
    row-gap: 15px;
    grid-template-rows: 20% 50% 15%;
    transition: visibility .2s linear;
}
section#createNewDiv #head{
  padding: 0 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#createNewDiv #head #cancel{
  padding: 5px 10px;
  transition: .2s ease;
  border-radius: 3px;
}
section#createNewDiv #head #cancel:hover{
  background-color: var(--accentColor);
  color: var(--background);
  cursor: pointer;
}
section#createNewDiv input, textarea{
    background-color: var(--backgroundSecond);
    color: var(--fontColor);
    outline: none;
    border: 1px solid var(--fontColor);
    border-radius: 5px;
    padding: 5px;
    resize: none;
}
section#createNewDiv input[type="submit"]{
  font-weight: 900;
  font-size: 16px;
  transition: .2s ease;
}
section#createNewDiv input[type="submit"]:hover{
  background-color: var(--accentColor);
  color: var(--background);
  cursor: pointer;
}
section#createNewDiv input:focus, textarea:focus{
    border: 1px solid var(--accentColor);
}
@media screen and (max-width: 900px){
    main{
        width: 85%;
        height: 90vh;
    }
    section#createNewDiv{
        width: 75%;
        height: 30%;
    }
}
@media screen and (max-width: 660px){
  .task .txt{
    max-width: 85%;
  }
}